.weatherapp {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  max-width: 600px;
  margin: 40px auto;
  padding: 30px 50px;
  border-radius: 10px;
  font-family: Gill Sans Extrabold, sans-serif;
  border: 2px solid;
}
.btn-group {
  float: left;
}
#city-input {
  display: inline;
  width: 50%;
}

.btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  margin: 10px;
  left: 100px;
}
h1 {
  font-weight: 5px;
}
h2 {
  font-size: 26px;
}
.temperature {
  font-size: 50px;
}
#days-temperature {
  text-align: center;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 90px;
  width: 90px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
a {
  color: #007bff;
  cursor: pointer;
}
.hrefs {
  font-family: arial, sans-serif;
  text-align: center;
  padding-top: 5px;
  font-weight: 400;
}
#current-location-button {
  width: 30%;
}
